<app-admin-header></app-admin-header>
<div class="container-fluid px-5">
    <h1 class="mt-3">Edit Employee</h1>
    <form [formGroup]="staffTypeForm">
        <div class="row mt-2">
            <div class="col-md-3 col-12 mt-3">
                <label class=" form-label">Id</label>
                <input type="text" formControlName="id" class="form-control" placeholder="Please Enter Employee Id">
            </div>
            <div class="col-md-3 col-12 mt-3" *ngIf="staffTypeList$ | async as staffList">
                <label class=" form-label">UserType</label>
                <select class="form-select" formControlName="userType">
                    <option value="" selected>Please Select UserType</option>
                    <option *ngFor="let item of staffList" value="{{item.rolE_CODE}}">{{item.rolE_NAME}}
                    </option>
                </select>
            </div>
            <div *ngIf="this.staffTypeForm.get('userType')?.value == 'CO'" class="row">
                <div class="col-md-3 col-12 mt-3">
                    <label class=" form-label">Employee Id</label>
                    <input type="text" formControlName="employeeId" class="form-control" maxlength="10"
                        placeholder="Please Enter Employee Id">
                </div>
                <div class="col-md-3 col-12 mt-3">
                    <label class=" form-label">Employee Designation Description</label>
                    <input type="text" formControlName="employeeDesignationDescription" class="form-control"
                        placeholder="Employee Designation Description">
                </div>
                <div class="col-md-3 col-12 mt-3">
                    <label class=" form-label">Employee Location Code</label>
                    <input type="text" formControlName="employeeLocationCode" class="form-control"
                        placeholder="Employee Location Code">
                </div>
                <div class="col-md-3 col-12 mt-3">
                    <label class=" form-label">Employee Location Description</label>
                    <input type="text" formControlName="employeeLocationDescription" class="form-control"
                        placeholder="Employee Location Description">
                </div>
            </div>
            <div *ngIf="this.staffTypeForm.get('userType')?.value !== 'CO'" class="row">
                <div class="col-md-3 col-12 mt-3">
                    <label class=" form-label">Employee Designation Code</label>
                    <input type="text" formControlName="employeeDesignationCode" class="form-control"
                        placeholder="Employee Designation Code">
                </div>
                <div class="col-md-3 col-12 mt-3">
                    <label class=" form-label">Employee Designation Description</label>
                    <input type="text" formControlName="employeeDesignationDescription" class="form-control"
                        placeholder="Employee Designation Description">
                </div>
            </div>
            <div class="col-md-3 col-12 mt-3">
                <label class=" form-label">Status</label>
                <select class="form-select" formControlName="status">
                    <option value="" selected>Please Select Status</option>
                    <option value="Allow">Allow</option>
                    <option value="Not_Allow">Not_Allow</option>
                </select>
                <div *ngIf="staffTypeForm.get('status')?.touched && staffTypeForm.get('status')?.invalid"
                    class="text-danger">
                    Status is required.
                </div>
            </div>
            <div class="mt-3 d-flex">
                <button type="submit" class="btn btn-primary" (click)="UpdateEmployee()">Update</button>
                <button type="button" class="btn btn-primary ms-3" (click)="onCancelClick()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>